* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
@font-face {
    font-family: r;
    src: url("../fonts/Raleway-SemiBold.woff2");
}
body {
    font-family: r;
    background-color: #F4F6F5;
}
a {
    color: #2C2D35;
}
h1 {
    color: #2C2D35;
}
.container {
    max-width: 1300px;
    margin: 0 auto;
    display: block;
}
@media (prefers-reduced-motion: no-preference) {
    :root {
        scroll-behavior: smooth;
        scroll-padding-top: 50px;
    }
}